<%- include("templates/header") %>
<h1>Hello, <%= name %></h1>
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img src='/image1.jpeg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='/image2.jpeg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='/image3.jpg' class="img-fluid"></div>
</div>

<button type="button" class="btn btn-secondary" onclick="location.href='/';">Sign out</button>

<%- include("templates/footer") %>